@model IEnumerable<WebProjeOT.Models.Categories>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoriesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriesName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryDescription)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoriesID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoriesID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoriesID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/Categories/Create/" class="btn btn-primary">Add New Category</a>